<?xml version="1.0"?>
<config>
    <modules>
        <PagarMe_Checkout>
            <version>2.0.0</version>
        </PagarMe_Checkout>
    </modules>
    <global>
        <models>
            <pagarme_checkout>
                <class>PagarMe_Checkout_Model</class>
            </pagarme_checkout>
        </models>
        <helpers>
            <pagarme_checkout>
                <class>PagarMe_Checkout_Helper</class>
            </pagarme_checkout>
        </helpers>
        <blocks>
            <pagarme_checkout>
                <class>PagarMe_Checkout_Block</class>
            </pagarme_checkout>
        </blocks>
        <sales>
            <quote>
                <totals>
                    <pagarme_checkout_interest_fee>
                        <class>pagarme_core/quote_address_total_creditCardInterestAmount</class>
                        <after>subtotal,shipping</after>
                        <before>tax</before>
                    </pagarme_checkout_interest_fee>
                    <pagarme_checkout_discount>
                        <class>pagarme_core/quote_address_total_boletoDiscount</class>
                        <after>discount</after>
                        <before>tax,grand_total</before>
                    </pagarme_checkout_discount>
                </totals>
            </quote>
        </sales>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <pagarme_checkout>
                    <file>pagarme/pagarme_checkout.xml</file>
                </pagarme_checkout>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <pagarme_checkout>
                    <file>pagarme/pagarme_checkout.xml</file>
                </pagarme_checkout>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <pagarme_checkout>
                <active>1</active>
            </pagarme_checkout>
        </payment>
    </default>
</config>
