<?xml version="1.0"?>
<config>
    <modules>
        <PagarMe_Core>
            <version>2.0.0</version>
        </PagarMe_Core>
    </modules>
    <global>
        <helpers>
            <pagarme_core>
                <class>PagarMe_Core_Helper</class>
            </pagarme_core>
        </helpers>
    </global>

    <default>
        <payment>
            <pagarme_checkout>
                <active>1</active>
                <model>pagarme_checkout/checkout</model>
                <order_status>pending</order_status>
                <title>Pagarme Checkout</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </pagarme_checkout>
        </payment>
    </default>
</config>
