<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <pagarme_settings translate="label" module="pagarme_core">
                    <label>Pagar.me - Settings</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <heading_general translate="label">
                            <label>General Configurations</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_general>
                         <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <api_key translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <encryption_key translate="label">
                            <label>Encryption Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </encryption_key>
                        <payment_methods translate="label">
                           <label>Payment Methods</label>
                           <frontend_type>select</frontend_type>
                           <source_model>pagarme_core/system_config_source_paymentMethods</source_model>
                           <sort_order>20</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                        </payment_methods>
                        <payment_action translate="label">
                            <label>Payment Action</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pagarme_core/system_config_source_paymentAction</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_action>
                        <order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_processing</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
                        <order_status_paid translate="label">
                            <label>Paid Order Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_newprocessing</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status_paid>
                        <capture_customer_data translate="label">
                            <label>Use Pagar.me checkout to capture customer data</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pagarme_core/system_config_source_captureCustomerData</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </capture_customer_data>
                        <heading_credit_card translate="label">
                            <label>Credit Card Configurations</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_credit_card>
                        <max_installments translate="label">
                            <label>Max Installments</label>
                            <frontend_type>text</frontend_type>
                            <frontend_class>validate-number</frontend_class>
                            <sort_order>105</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_installments>
                        <interest_rate translate="label">
                            <label>Interest Rate (%)</label>
                            <frontend_type>text</frontend_type>
                            <frontend_class>validate-number</frontend_class>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </interest_rate>
                        <free_installments translate="label">
                            <label>Free Installments</label>
                            <frontend_type>text</frontend_type>
                            <frontend_class>validate-number</frontend_class>
                            <sort_order>115</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </free_installments>
                        <allowed_credit_card_brands translate="label">
                            <label>Allowed Credit Card Brands</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>pagarme_core/system_config_source_creditCardBrands</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowed_credit_card_brands>
                        <heading_boleto translate="label">
                            <label>Boleto Configurations</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_boleto>
                        <boleto_discount translate="label">
                            <label>Boleto discount</label>
                            <frontend_type>text</frontend_type>
                            <frontend_class>validate-number</frontend_class>
                            <sort_order>205</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </boleto_discount>
                        <boleto_discount_mode translate="label">
                            <label>Boleto discount mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pagarme_core/system_config_source_boletoDiscountMode</source_model>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </boleto_discount_mode>
                        <heading_visual_config translate="label">
                            <label>Visual Configurations</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_visual_config>
                        <payment_button_text translate="label">
                            <label>Checkout final button text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>305</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_button_text>
                        <boleto_helper_text translate="label">
                            <label>Optional message for Boleto payment</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>310</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </boleto_helper_text>
                        <credit_card_helper_text translate="label">
                            <label>Optional message for Credit Card payment</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>315</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </credit_card_helper_text>
                        <ui_color translate="label">
                            <label>Payment primary color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>320</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ui_color>
                        <header_text translate="label">
                            <label>Checkout header text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>325</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </header_text>
                        <checkout_button_text translate="label">
                            <label>Checkout button text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>330</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </checkout_button_text>
                    </fields>
                </pagarme_settings>
            </groups>
        </payment>
    </sections>
</config>
