<?xml version="1.0"?>
<!--
/**
 *
 * @category   Inovarti
 * @package    Inovarti_Pagarme
 * @author     Suporte <suporte@inovarti.com.br>
 */
-->
<config>
    <modules>
        <Inovarti_Pagarme>
            <version>0.1.0</version>
        </Inovarti_Pagarme>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <installments><to_order_payment>*</to_order_payment></installments>
                <pagarme_card_hash><to_order_payment>*</to_order_payment></pagarme_card_hash>
            </sales_convert_quote_payment>
        </fieldsets>
    	<models>
    		<pagarme>
                <class>Inovarti_Pagarme_Model</class>
            </pagarme>
    	</models>
    	<resources>
            <pagarme_setup>
                <setup>
                    <module>Inovarti_Pagarme</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagarme_setup>
            <pagarme_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pagarme_write>
            <pagarme_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pagarme_read>
        </resources>
        <blocks>
            <pagarme>
                <class>Inovarti_Pagarme_Block</class>
            </pagarme>
        </blocks>
        <helpers>
            <pagarme>
                <class>Inovarti_Pagarme_Helper</class>
            </pagarme>
        </helpers>
        <payment>
        	<cc>
        		<types>
        			<EL>
						<code>EL</code>
						<name>Elo</name>
						<order>55</order>
					</EL>
	        		<DC>
						<code>DC</code>
						<name>Diners Club</name>
						<order>60</order>
					</DC>
					<AU>
						<code>AU</code>
						<name>Aura</name>
						<order>65</order>
					</AU>
					<HC>
						<code>HC</code>
						<name>Hipercard</name>
						<order>70</order>
					</HC>
				</types>
        	</cc>
        	<groups>
                <pagarme>Pagar.me</pagarme>
            </groups>
        </payment>
    </global>
    <frontend>
        <routers>
            <pagarme>
                <use>standard</use>
                <args>
                    <module>Inovarti_Pagarme</module>
                    <frontName>pagarme</frontName>
                </args>
            </pagarme>
        </routers>
        <translate>
            <modules>
                <Inovarti_Pagarme>
                    <files>
                        <default>Inovarti_Pagarme.csv</default>
                    </files>
                </Inovarti_Pagarme>
            </modules>
        </translate>
        <layout>
            <updates>
                <pagarme>
                    <file>pagarme.xml</file>
                </pagarme>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Inovarti_Pagarme>
                    <files>
                        <default>Inovarti_Pagarme.csv</default>
                    </files>
                </Inovarti_Pagarme>
            </modules>
        </translate>
        <layout>
            <updates>
                <pagarme>
                    <file>pagarme.xml</file>
                </pagarme>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Inovarti_Pagarme before="Mage_Adminhtml">Inovarti_Pagarme_Adminhtml</Inovarti_Pagarme>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
        	<pagarme_settings>
            	<mode>test</mode>
                <street_field>1</street_field>
                <number_field>2</number_field>
                <neighborhood_field>3</neighborhood_field>
            </pagarme_settings>
            <pagarme_boleto>
            	<active>0</active>
                <model>pagarme/boleto</model>
                <title>Boleto Bancário</title>
                <payment_action>charge</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <group>pagarme</group>
            </pagarme_boleto>
            <pagarme_cc>
                <active>0</active>
                <model>pagarme/cc</model>
                <title>Cartão de Crédito</title>
                <order_status>processing</order_status>
                <cctypes>VI,MC,AE,DI,JCB,EL,DC,AU</cctypes>
                <max_installments>12</max_installments>
                <min_installment_value>20</min_installment_value>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
                <group>pagarme</group>
            </pagarme_cc>
        </payment>
    </default>
</config>
