<?xml version="1.0"?>
<config>
    <modules>
        <PagarMe_Boleto>
            <version>1.0.0</version>
        </PagarMe_Boleto>
    </modules>
    <global>
        <models>
            <pagarme_boleto>
                <class>PagarMe_Boleto_Model</class>
            </pagarme_boleto>
        </models>
        <blocks>
            <pagarme_boleto>
                <class>PagarMe_Boleto_Block</class>
            </pagarme_boleto>
        </blocks>
        <helpers>
            <pagarme_boleto>
                <class>PagarMe_Boleto_Helper</class>
            </pagarme_boleto>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <pagarme_boleto>
                    <file>pagarme/pagarme_boleto.xml</file>
                </pagarme_boleto>
            </updates>
        </layout>
    </frontend>
    <frontend>
      <translate>
        <modules>
          <consultoras>
            <files>
              <default>PagarMe_Boleto.csv</default>
            </files>
          </consultoras>
        </modules>
      </translate>
    </frontend>
    <admin>
      <translate>
        <modules>
          <consultoras>
            <files>
              <default>PagarMe_Boleto.csv</default>
            </files>
          </consultoras>
        </modules>
      </translate>
    </admin>
    <default>
        <payment>
            <pagarme_boleto>
                <active>1</active>
                <model>pagarme_boleto/boleto</model>
                <title>Boleto</title>
                <order_status>authorize</order_status>
                <allow_specific>0</allow_specific>
                <sort_order>1</sort_order>
            </pagarme_boleto>
        </payment>
    </default>
</config>
