<?xml version="1.0"?>
<config>
    <modules>
        <PagarMe_CreditCard>
            <version>3.3.0</version>
        </PagarMe_CreditCard>
    </modules>
    <global>
        <sales>
            <quote>
                <totals>
                    <pagarme_creditcard_interest>
                        <class>pagarme_creditcard/quote_address_total_creditCardInterestAmount</class>
                    </pagarme_creditcard_interest>
                </totals>
            </quote>
        </sales>
        <models>
            <pagarme_creditcard>
                <class>PagarMe_CreditCard_Model</class>
            </pagarme_creditcard>
        </models>
        <blocks>
            <pagarme_creditcard>
                <class>PagarMe_CreditCard_Block</class>
            </pagarme_creditcard>
        </blocks>
        <helpers>
            <pagarme_creditcard>
                <class>PagarMe_CreditCard_Helper</class>
            </pagarme_creditcard>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <pagarme_creditcard>
                    <file>pagarme/pagarme_creditcard.xml</file>
                </pagarme_creditcard>
            </updates>
        </layout>
        <translate>
            <modules>
                <pagarme_creditcard>
                    <files>
                        <default>PagarMe_Creditcard.csv</default>
                    </files>
                </pagarme_creditcard>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <pagarme_creditcard>
                    <file>pagarme/pagarme_creditcard.xml</file>
                </pagarme_creditcard>
            </updates>
        </layout>
        <translate>
            <modules>
                <pagarme_creditcard>
                    <files>
                        <default>PagarMe_Creditcard.csv</default>
                    </files>
                </pagarme_creditcard>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <pagarme_creditcard>
                <active>1</active>
                <model>pagarme_creditcard/creditcard</model>
                <title>Credit Card</title>
                <payment_action>authorize</payment_action>
                <order_status>pending</order_status>
                <allow_specific>0</allow_specific>
                <sort_order>1</sort_order>
            </pagarme_creditcard>
        </payment>
    </default>
</config>
